<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OctOcean.Worlds</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/syhy.base.css" rel="stylesheet" />

    @RenderSection("CustomHeadStyles", required: false)
    @RenderSection("CustomHeadScripts", required: false)

</head>
<body>
    <header class="site-header">
        <div class="site-container">
            <h1 class="site-title"><a href="javascript:;">OctOcean's Worlds</a></h1>
        </div>
    </header>

    <div class="site-content">
        <div class="site-container">

            @RenderBody()

        </div>

    </div>


    <footer class="site-footer"></footer>

    @RenderSection("CustomFootScripts", required: false)
</body>
</html>
