@page "{ArticleKey?}"
@model Article.ArticleEditModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文章编辑</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />


    <style>
        .layui-form-item {
            margin-bottom: 8px;
        }

        .article-img-list li {
            padding: 0 5px;
            float: left;
            border: 1px solid #c6c6c6;
            margin-bottom: 8px;
            margin-left: 10px;
        }

            .article-img-list li p {
                line-height: 20px;
            }

            .article-img-list li a {
                color: #0094ff;
            }

            .article-img-list li i {
                color: red;
                /*line-height: 24px;*/
                font-size: 20px;
            }

        .article-img-edit:hover {
            cursor: pointer;
        }
    </style>


</head>
<body>
    <form method="post" class="layui-form layui-form-pane" onsubmit="return checkForm()">

        <div id="editpanel" style="padding:10px 0 0 0;">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">文章标题：</label>
                            <div class="layui-input-block">
                                <input type="text" asp-for="ArticleDraftEntity.ArticleTitle" id="txtArticleTitle" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input" maxlength="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">文章分类：</label>
                            <div class="layui-input-block">
                                <select lay-filter="ArticleCategory" asp-for="ArticleDraftEntity.ArticleCategory" asp-items="Model.Base_ArticleCategoryddl" id="ddlArticleCategory">
                                    <option value="">请选择分类</option>
                                    @*<option value="0">Java</option>
                            <option value="1">NET</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">标签设置：</label>
                            <div class="layui-input-block" id="chkTagList">
                                @foreach (var at in Model.Base_ArticleTagList)
                    {

                        bool chked = (Model.ArticleDraftEntity != null) && Model.ArticleDraftEntity.ArticleTag.Contains(':' + at.ArticleTagCode.Trim() + ':');




                        <input type="checkbox" @( chked ? "checked=\"checked\"" : "") lay-filter="checkwy" name="like[@at.ArticleTagCode]" value="@at.ArticleTagCode.Trim()" title="@at.ArticleTagName">
        }

                                <input type="hidden" asp-for="ArticleDraftEntity.ArticleTag" id="hfArticleTag" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item layui-form-text pane">
                            <label class="layui-form-label">文章描述：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" asp-for="ArticleDraftEntity.ArticleDesc" id="txtArticleDesc" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item layui-form-text pane">
                            <label class="layui-form-label">附属样式：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" asp-for="ArticleDraftEntity.AidStyle" id="txtAidStyle" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">图片列表：</label>
                            <div class="layui-input-block">
                                <ul class="article-img-list" id="article_img_list">
                                    @foreach (var Img in Model.Pri_ArticleImageList)
                        {
                            <li id="@("li_"+Img.ImgKey)">
                                <a href="@Img.Src" target="_blank">
                                    @Img.ImgName
                                </a>
                                <p data-imgkey="@Img.ImgKey">
                                    <label>宽度:</label><span id="@("w_"+Img.ImgKey)">@Img.Width</span>
                                    <label>高度:</label><span id="@("h_"+Img.ImgKey)">@Img.Height</span>
                                    <button data-clipboard-text="@("[*"+Img.ImgKey+"*]")" class="article-img-edit-copy layui-btn layui-btn-edit layui-btn-radius  layui-btn-xs" type="button">
                                        <i class="layui-icon">&#xe64c;</i>
                                        复制该图片Key
                                    </button>
                                    &nbsp;
                                    <i class="layui-icon article-img-edit" data-edit="update">&#xe642;</i>
                                    &nbsp;
                                    <i class="layui-icon article-img-edit" data-edit="delete">&#xe640;</i>
                                </p>

                            </li>}

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="ArticleGuidKey" id="hfArticleKey" />
                <input type="hidden" asp-for="ArticleDraftEntity.Id" />

                <div class="layui-row">
                    <div class="layui-col-md6">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn layui-btn-green" lay-submit lay-filter="lf_articleSubmit"><i class="layui-icon">&#xe6b2;</i>保存</button>
                                <a target="_blank" href="@ViewData["ArticlePreviewUrl"]" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe63c;</i>预览</a>
                                <button id="btnuploadImg" type="button" class="layui-btn  @(Model.CanUploadOrPublish?"layui-btn-warm":"layui-btn-disabled")" @(Model.CanUploadOrPublish ? "" : "disabled=\"disabled\"")><i class="layui-icon">&#xe681;</i>上传图片</button>
                                <button id="btnEditArticleHtmlSource" type="button" class="layui-btn  @(Model.CanUploadOrPublish?"layui-btn-edit":"layui-btn-disabled")" @(Model.CanUploadOrPublish ? "" : "disabled=\"disabled\"")><i class="layui-icon">&#xe635;</i>编辑源码</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item pane">

                            <label class="layui-form-label">发布：</label>
                            <div class="layui-input-block">
                                @*如果没有保存过draft，或者draft已经删除过，需要重新进行保存才可以使用发布*@
                                <input type="checkbox" lay-skin="switch" lay-text="ON|OFF" @(Model.IsPublish ? "checked=\"checked\"" : "") lay-filter="chkpublish" @(Model.CanUploadOrPublish ? "" : "disabled=\"disabled\"")>
                            </div>
                        </div>
                    </div>
                </div>
            </div>










            @*<div class="layui-form-item">
                    <label class="layui-form-label">开关关</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开关开</label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item">

                </div>*@







            <!--用父容器来控制宽度-->
            <div>
                <input type="hidden" id="hfContentText" asp-for="ArticleDraftEntity.ContentText" />
                <!--用当前元素来控制高度-->
                <div id="myEditor">
                    @Html.Raw(Model.ArticleDraftEntity == null ? "" : Model.ArticleDraftEntity.ContentText)
                </div>
            </div>

        </div>
    </form>


    <script src="~/lib/wangEditor/wangEditor.min.js"></script>
    <script src="~/lib/layui/layui.all.js"></script>
    <script src="~/lib/clipboard/clipboard.min.js"></script>
    <script>
        var AutoSaveArticleDraftStatus = true;

        var clipboard=  new Clipboard('.article-img-edit-copy');

        //放在最外面
        var E = window.wangEditor
        var editor = new E('#myEditor');
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
           // 'image',  // 插入图片
            'table',  // 表格
            //'video',  // 插入视频
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ]

        // 关闭粘贴样式的过滤
        //editor.customConfig.pasteFilterStyle = false;

        editor.create();


        //获取数据
        function checkForm() {

            //获取多选框的值
            var newarr = [];
            $('#chkTagList input:checked').each(function () {
                newarr.push($.trim($(this).val()));
            });
            if (newarr.length > 0) {
                $('#hfArticleTag').val(':' + newarr.sort().join(':') + ':');
            }
            else {
                $('#hfArticleTag').val('');
            }

            //设置富文本编辑器的值
            $('#hfContentText').val(editor.txt.html());

            return true;

        }


        function autoSubmitData() {


            checkForm();

            $.post("/ArticleDraft/Save", {
                "ArticleKey": $('#hfArticleKey').val(),
                "ArticleTitle": $('#txtArticleTitle').val(),
                "ArticleCategory": $('#ddlArticleCategory').val(),
                "ContentText": $('#hfContentText').val(),
                "ArticleTag": $('#hfArticleTag').val(),
                "ArticleDesc": $('#txtArticleDesc').val(),
                "AidStyle": $('#txtAidStyle').val()
            }, function (data) {
               // console.log(data);
                $('#lblArticleKey').text(data.ak);
                $('#lblsavecount').text(data.sc);



                if (data.status == 1) {

                    $('#lblmsg').text('数据自动保存成功！');
                    $('#lblmsgpanel').css('background-color', '#4fbe4f').show();
                    $('#lblmsgpanel').fadeOut(5000);
                }
                else if (data.status == 3) {
                    $('#lblmsg').text('未提交数据！');
                    $('#lblmsgpanel').css('background-color', '#f9a542').show();
                    $('#lblmsgpanel').fadeOut(5000);

                }
                else {
                    clearInterval(autoTimer);
                    $('#lblmsgpanel').css({ "background-color": "#f35c5c" });
                    $('#lblmsg').text('数据提交失败！' + data.msg);
                    $('#lblmsgpanel').show();
                }


            }, "json");


        }
        //每隔30秒触发一次
        var autoTimer = window.setInterval(function () { if (AutoSaveArticleDraftStatus) autoSubmitData(); }, 1000 * 30);

        var layer = layui.layer;
        $(function () {
            $('#myEditor>div:eq(1)').height($(window).height() - 110);
            $(window).resize(function () {
                //设置编辑器的高度
                $('#myEditor>div:eq(1)').height($(window).height() - 110);
            });

            //绑定上传图片事件
            $('#btnuploadImg').click(function () {

                 layer.open({
                    type: 2 //你可以title: ['文本', 'font-size:18px;']，数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                    ,title: '图片上传'
                     , content: '/ArticleImage/Upload/@Model.ArticleGuidKey'
                    , area: ['800px', '500px']
                    , resize: false//是否可以拉伸
                    //右上角关闭回调
                     , cancel: function (index, layero) {
                         //alert(layer.getChildFrame('title', index).text());// - 获取iframe页的DOM
                         //如果有值才会提示
                         if (layer.getChildFrame('#hfSubmitImageFile', index).val()) {
                             if (confirm('您确定取消上传？')) {//只有当点击confirm框的确定时，该层才会关闭
                                 layer.close(index)
                             }
                             return false; //不关闭
                         }
                     }
                    , closeBtn :2
                    , btnAlign: 'c' //居中
                    , btn: ['确定']
                     , yes: function (index, layero) {
                         var submitimgName = layer.getChildFrame('#hfSubmitImageFile', index).val();
                         if (submitimgName) {
                             $.post("/ArticleImage/Confirm/@Model.ArticleGuidKey", {
                                 CacheFileNames: submitimgName
                             }, function (data) {
                                 if (data.status == 1) {
                                     layer.alert("操作成功！请点击“保存”刷新页面显示最新图片");
                                     layer.close(index); //如果设定了yes回调，需进行手工关闭
                                 }
                                 else {
                                     layer.alert('操作异常：' + data.msg, { icon: 5 });

                                 }

                             },"json");

                         }




                     }
                });

             });
            // 或者 var editor = new E( document.getElementById('editor') )

            //编辑源码
            $('#btnEditArticleHtmlSource').click(function () {
                //暂停自动提交，否则数据会有冲突
                AutoSaveArticleDraftStatus = false;


                layer.open({
                    type: 2,
                    title: '文章HTML源码'
                    , content: '../ArticleHtmlEdit/@Model.ArticleGuidKey'
                    , area: ['1000px', '600px']
                    , resize: false//是否可以拉伸
                    , cancel: function (index, layero) {
                        if (layer.getChildFrame('#hfIsSave', index).val()) {
                            window.location = "/Article/ArticleEdit/@Model.ArticleGuidKey";

                        }
                        //alert(layer.getChildFrame('title', index).text());// - 获取iframe页的DOM
                        //如果有值才会提示
                        //if (layer.getChildFrame('#NewImgSrc', index).val()) {
                        //    if (confirm('您确定取消上传？')) {//只有当点击confirm框的确定时，该层才会关闭
                        //        layer.close(index)
                        //    }
                        //    return false; //不关闭
                        //}

                    }
                    , end: function () { AutoSaveArticleDraftStatus = true; autoSubmitData(); }
                     
                });


             });

            //绑定图片编辑操作
            $('#article_img_list .article-img-edit').click(function () {

                var edittype = $(this).attr('data-edit');
                var imgkey = $(this).parent('p').attr('data-imgkey');

                //if (edittype == "insert") {
                //    //插入到文章的光标位置，不能实现目前只能放在末尾
                //    editor.txt.append('<ii>'+imgkey+'</ii>');




                //} else

                    if (edittype == "update") {

                    layer.open({
                        type: 2 //你可以title: ['文本', 'font-size:18px;']，数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                        , title: '图片上传'
                        , content: '/ArticleImage/Edit/' + imgkey
                    , area: ['800px', '550px']
                    , resize: false//是否可以拉伸
                    //右上角关闭回调
                    , cancel: function (index, layero) {
                        //alert(layer.getChildFrame('title', index).text());// - 获取iframe页的DOM
                        //如果有值才会提示
                        if (layer.getChildFrame('#NewImgSrc', index).val()) {
                            if (confirm('您确定取消上传？')) {//只有当点击confirm框的确定时，该层才会关闭
                                layer.close(index)
                            }
                            return false; //不关闭
                        }

                    }
                    , closeBtn :2
                    , btnAlign: 'c' //居中
                    , btn: ['确定']
                        , yes: function (index, layero) {

                            $.post("/ArticleImage/Info/" + imgkey, {

                            }, function (data) {
                                var ik = data.imgKey;
                                var $li = $('#li_' + ik);
                                $li.children('a').text(data.imgName).attr('href', data.src);
                                $('#w_' + ik).text(data.width);
                                $('#h_' + ik).text(data.height);

                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                             },"json");
                     }
                });


                } else if (edittype == "delete") {

                    layer.confirm('系统将会彻底删除该图片的所有数据，您确定要删除该图片吗？', { icon: 3, title: '警告' }, function (index) {
                        //do something
                        $.post("/ArticleImage/Remove/" + imgkey, {

                        }, function (data) {

                            if (data.status == 1) {
                                var $li = $('#li_' + imgkey).remove();
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                            }
                            else {
                                alert(data.msg);

                            }


                            }, "json");
                    });
                }

             });

        });

        window.onbeforeunload = function () {
            autoSubmitData();
        }

        var form = layui.form;
        //发布
        form.on('switch(chkpublish)', function (data) {
            var _ispublish = data.elem.checked;

            $.post('/ArticleDraft/Publish', {
                ArticleKey: $('#hfArticleKey').val(),
                IsPublish: _ispublish
            }, function (rd) {
                if (rd.status == 2) {
                    //未提交数据
                    layer.alert('请先保存数据，才能够执行发布操作！', { icon: 5 });
                    return false;
                }
                else if (rd.status == 1) {
                    layer.alert('操作完成！', { icon: 1 });
                    return true;
                }
                else {
                    layer.alert('数据异常：' + rd.msg, { icon: 5 });
                    return false;
                }


            },"json");



            //console.log(data.elem); //得到checkbox原始DOM对象
            //console.log(data.elem.checked); //开关是否开启，true或者false
            //console.log(data.value); //开关value值，也可以通过data.elem.value得到
            //console.log(data.othis); //得到美化后的DOM对象
        });


                    //form.on('checkbox(checkwy)', function (data) {
                    //    var oldvalue = $('#hfArticleTag').val();
                    //    var oldarr = oldvalue.split(":");
                    //    var _index = $.inArray(data.value, oldarr);
                    //    if (data.elem.checked) {
                    //        //如果没有，就添加
                    //        if (_index== -1) {
                    //            oldarr.push(data.value);
                    //        }
                    //    }
                    //    else {

                    //        if (_index>=0) {
                    //            //移除
                    //            oldarr.splice(_index, 1);
                    //        }

                    //    }
                    //    $('#hfArticleTag').val(oldarr.join(':'));
                    //    console.log($('#hfArticleTag').val());






                    //    //console.log(data.elem); //得到checkbox原始DOM对象
                    //    //console.log(data.elem.checked); //是否被选中，true或者false
                    //    //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                    //    //console.log(data.othis); //得到美化后的DOM对象
                    //});


    </script>
    <div style="height:30px;">


        <p id="lblmsgpanel" style="line-height:30px; font-size:16px; display:none; text-align:center; ">
            <span id="lblArticleKey"></span>
            -
            <b id="lblsavecount"></b>
            -
            <span id="lblmsg"></span>
        </p>
    </div>
</body>
</html>
