@page "{ArticleKey?}"
@model Article.ArticleEditModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文章编辑</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />


    <style>
        .layui-form-item {
            margin-bottom: 8px;
        }
    </style>


</head>
<body>
    <form method="post" class="layui-form layui-form-pane" onsubmit="return checkForm()">

        <div id="editpanel" style="padding:10px 0 0 0;">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">文章标题：</label>
                            <div class="layui-input-block">
                                <input type="text" asp-for="ArticleDraftEntity.ArticleTitle" id="txtArticleTitle" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input" maxlength="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">文章分类：</label>
                            <div class="layui-input-block">
                                <select lay-filter="ArticleCategory" asp-for="ArticleDraftEntity.ArticleCategory" asp-items="Model.Base_ArticleCategoryddl" id="ddlArticleCategory">
                                    <option value="">请选择分类</option>
                                    @*<option value="0">Java</option>
                                        <option value="1">NET</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">标签设置：</label>
                            <div class="layui-input-block" id="chkTagList">
                                @foreach (var at in Model.Base_ArticleTagList)
                                {

                                    bool chked = (Model.ArticleDraftEntity != null) && Model.ArticleDraftEntity.ArticleTag.Contains(':' + at.ArticleTagCode.Trim() + ':');




                                    <input type="checkbox" @( chked ? "checked=\"checked\"" : "") lay-filter="checkwy" name="like[@at.ArticleTagCode]" value="@at.ArticleTagCode.Trim()" title="@at.ArticleTagName">
                                }

                                <input type="hidden" asp-for="ArticleDraftEntity.ArticleTag" id="hfArticleTag" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item layui-form-text pane">
                            <label class="layui-form-label">附属样式：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" asp-for="ArticleDraftEntity.AidStyle" id="txtAidStyle" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">图片列表：</label>
                            <div class="layui-input-block">
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                                <span>ffffffffffffff</span>
                                <span>sssssssssssssss</span>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="ArticleGuidKey" id="hfArticleKey" />
                <input type="hidden" asp-for="ArticleDraftEntity.Id" />

                <div class="layui-row">
                    <div class="layui-col-md6">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn layui-btn-green" lay-submit lay-filter="lf_articleSubmit"><i class="layui-icon">&#xe6b2;</i>保存</button>
                                <a href="" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe63c;</i>预览</a>
                                <button id="btnuploadImg" type="button" class="layui-btn layui-btn-warm"><i class="layui-icon">&#xe6b2;</i>上传图片</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item pane">

                            <label class="layui-form-label">发布：</label>
                            <div class="layui-input-block">
                                @*如果没有保存过draft，或者draft已经删除过，需要重新进行保存才可以使用发布*@
                                <input type="checkbox" lay-skin="switch" lay-text="ON|OFF" @(Model.IsPublish ? "checked=\"checked\"" : "") lay-filter="chkpublish" @((Model.ArticleDraftEntity == null || Model.ArticleDraftEntity.Id == 0 || Model.ArticleDraftEntity.DelStatus == 1) ? "disabled=\"disabled\"" : "")>
                            </div>
                        </div>
                    </div>
                </div>
            </div>










            @*<div class="layui-form-item">
                    <label class="layui-form-label">开关关</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开关开</label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item">

                </div>*@







            <!--用父容器来控制宽度-->
            <div>
                <input type="hidden" id="hfContentText" asp-for="ArticleDraftEntity.ContentText" />
                <!--用当前元素来控制高度-->
                <div id="myEditor">
                    @Html.Raw(Model.ArticleDraftEntity == null ? "" : Model.ArticleDraftEntity.ContentText)
                </div>
            </div>

        </div>
    </form>


    <script src="~/lib/wangEditor/wangEditor.min.js"></script>
    <script src="~/lib/layui/layui.all.js"></script>

    <script>
        //放在最外面
        var E = window.wangEditor
        var editor = new E('#myEditor');
        editor.create();


        //获取数据
        function checkForm() {

            //获取多选框的值
            var newarr = [];
            $('#chkTagList input:checked').each(function () {
                newarr.push($.trim($(this).val()));
            });
            if (newarr.length > 0) {
                $('#hfArticleTag').val(':' + newarr.sort().join(':') + ':');
            }
            else {
                $('#hfArticleTag').val('');
            }

            //设置富文本编辑器的值
            $('#hfContentText').val(editor.txt.html());

            return true;

        }


        function autoSubmitData() {

            checkForm();

            $.post("/ArticleDraft/Save", {
                "ArticleKey": $('#hfArticleKey').val(),
                "ArticleTitle": $('#txtArticleTitle').val(),
                "ArticleCategory": $('#ddlArticleCategory').val(),
                "ContentText": $('#hfContentText').val(),
                "ArticleTag": $('#hfArticleTag').val(),
                "AidStyle": $('#txtAidStyle').val()
            }, function (data) {
                console.log(data);
                $('#lblArticleKey').text(data.ak);
                $('#lblsavecount').text(data.sc);



                if (data.status == 1) {

                    $('#lblmsg').text('数据自动保存成功！');
                    $('#lblmsgpanel').css('background-color', '#4fbe4f').show();
                    $('#lblmsgpanel').fadeOut(5000);
                }
                else if (data.status == 3) {
                    $('#lblmsg').text('未提交数据！');
                    $('#lblmsgpanel').css('background-color', '#f9a542').show();
                    $('#lblmsgpanel').fadeOut(5000);

                }
                else {
                    clearInterval(autoTimer);
                    $('#lblmsgpanel').css({ "background-color": "#f35c5c" });
                    $('#lblmsg').text('数据提交失败！' + data.msg);
                    $('#lblmsgpanel').show();
                }


            }, "json");


        }
        //每隔30秒触发一次
        var autoTimer = window.setInterval(autoSubmitData, 1000 * 30);

        $(function () {
            $('#myEditor>div:eq(1)').height($(window).height() - 110);
            $(window).resize(function () {
                //设置编辑器的高度
                $('#myEditor>div:eq(1)').height($(window).height() - 110);
            });

            //绑定上传图片事件
            $('#btnuploadImg').click(function () {
                var layer= layui.layer;
                 layer.open({
                    type: 2 //你可以title: ['文本', 'font-size:18px;']，数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                    ,title: '图片上传'
                    , content: '/Upload/img/@Model.ArticleGuidKey'
                    , area: ['800px', '600px']
                    , resize: false//是否可以拉伸
                    //右上角关闭回调
                     , cancel: function (index, layero) {
                         alert(layer.getChildFrame('title', index).text());// - 获取iframe页的DOM


                        if (confirm('您确定取消上传？')) {//只有当点击confirm框的确定时，该层才会关闭
                            layer.close(index)
                        }
                        return false; //不关闭

                      
                    }
                    , closeBtn :2
                    , btnAlign: 'c' //居中
                    , btn: ['确定']
                    , yes: function (index, layero) {

                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                     }
                });  

             });
            // 或者 var editor = new E( document.getElementById('editor') )

        });

        window.onbeforeunload = function () {
            autoSubmitData();
        }

        var form = layui.form;
        //发布
        form.on('switch(chkpublish)', function (data) {
            var _ispublish = data.elem.checked;

            $.post('/ArticleDraft/Publish', {
                ArticleKey: $('#hfArticleKey').val(),
                IsPublish: _ispublish
            }, function (rd) {
                if (rd.status == 2) {
                    //未提交数据
                    layer.alert('请先保存数据，才能够执行发布操作！', { icon: 5 });
                    return false;
                }
                else if (rd.status == 1) {
                    layer.alert('操作完成！', { icon: 1 });
                    return true;
                }
                else {
                    layer.alert('数据异常：' + rd.msg, { icon: 5 });
                    return false;
                }


            });



            //console.log(data.elem); //得到checkbox原始DOM对象
            //console.log(data.elem.checked); //开关是否开启，true或者false
            //console.log(data.value); //开关value值，也可以通过data.elem.value得到
            //console.log(data.othis); //得到美化后的DOM对象
        });


                    //form.on('checkbox(checkwy)', function (data) {
                    //    var oldvalue = $('#hfArticleTag').val();
                    //    var oldarr = oldvalue.split(":");
                    //    var _index = $.inArray(data.value, oldarr);
                    //    if (data.elem.checked) {
                    //        //如果没有，就添加
                    //        if (_index== -1) {
                    //            oldarr.push(data.value);
                    //        }
                    //    }
                    //    else {

                    //        if (_index>=0) {
                    //            //移除
                    //            oldarr.splice(_index, 1);
                    //        }

                    //    }
                    //    $('#hfArticleTag').val(oldarr.join(':'));
                    //    console.log($('#hfArticleTag').val());






                    //    //console.log(data.elem); //得到checkbox原始DOM对象
                    //    //console.log(data.elem.checked); //是否被选中，true或者false
                    //    //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                    //    //console.log(data.othis); //得到美化后的DOM对象
                    //});


    </script>
    <div style="height:30px;">


        <p id="lblmsgpanel" style="line-height:30px; font-size:16px; display:none; text-align:center; ">
            <span id="lblArticleKey"></span>
            -
            <b id="lblsavecount"></b>
            -
            <span id="lblmsg"></span>
        </p>
    </div>
</body>
</html>
