<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/syhy.base.css" rel="stylesheet" />

    @RenderSection("CustomStyleTitle", required: false)
    @RenderSection("CustomScriptTitle", required: false)

</head>
<body>
    <header class="site-header">
        <div class="site-container">
            <h1 class="site-title"><a href="javascript:;">OctOcean's Worlds</a></h1>
        </div>
    </header>

    <div class="site-content">
        <div class="site-container">

            @RenderBody()

        </div>

    </div>


    <footer class="site-footer"></footer>

    @RenderSection("CustomScriptFoot", required: false)
</body>
</html>
